# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# PyCharm / IDE
.idea/

# OS files
.DS_Store
Thumbs.db

#ignore env files
.env

#ignore practice files
practice.py
interaction.py
signing_up.py

#ignore chrome profiles
chrome_profile/